################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/bin
