################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/bin
/obj/project.assets.json
/obj/project.nuget.cache
/obj/RockPaperScissorsLizardSpock.csproj.nuget.dgspec.json
/obj/RockPaperScissorsLizardSpock.csproj.nuget.g.props
/obj/RockPaperScissorsLizardSpock.csproj.nuget.g.targets
/obj/Debug/net6.0/RockPaperScissorsLizardSpock.AssemblyInfo.cs
/obj/Debug/net6.0/RockPaperScissorsLizardSpock.AssemblyInfoInputs.cache
/obj/Debug/net6.0/RockPaperScissorsLizardSpock.assets.cache
/obj/Debug/net6.0/RockPaperScissorsLizardSpock.csproj.AssemblyReference.cache
/obj/Debug/net6.0/RockPaperScissorsLizardSpock.GeneratedMSBuildEditorConfig.editorconfig
